<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <footer style="width: 1000px; margin-left: auto; margin-right: auto; font-weight: bold;">
        <br />
        <br />
        <hr />
        By Taylor Havart-Labrecque &copy; 2018
    </footer>
</body>
</html>
