@model Lab4.Models.User
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Home" asp-action="CreateUser">
    First Name: <input asp-for="FirstName">
    <br />
    Last Name: <input asp-for="LastName">
    <br />
    Email Address: <input asp-for="EmailAddress">
    <br />
    Password: <input asp-for="Password">
    <br />
    Role: <input asp-for="RoleId">
    <br />
    <input type="submit" value="Add User">
</form>
