@model Lab4.Models.BlogPost
@{
}
    <form asp-controller="Home" asp-action="ModifyMovie">
        <input type="hidden" value="@Model.BlogPostId" name="BlogPostId" />
        Title: <input asp-for="Title">
        <br />
        Content: <input asp-for="Content">
        <br />
        Posted: <input asp-for="Posted">
        <br />
        <input type="submit" value="Add Movie">
    </form>

