@model MVCCoreAndEF.Models.Car
@{
}

<form asp-controller="Home" asp-action="CreateCar">
    Car Model: <input asp-for="Model" />
    <br />
    <br />
    <input type="submit" value="Add Car" />
</form>