@model IntroductionToASP.NETMVCCore.Models.LoginInformationModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Strongly Typed";
}

<h3>"Strongly Typed" Form</h3>
<form asp-controller="Home" asp-action="DisplayForm/@Model" method="post">
    <table>
        <tr>
            <td>Email Address</td>
            <td><input type="email" name="EmailAddress" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="Password" /></td>
        </tr>
    </table>
    <input type="submit" value="Login" />
</form>